openapi: 3.0.0
info:
  title: Kaiko Market Data API (only a subset of endpoints)
  version: '2.0.0'
servers:
  - url: 'https://eu.market-api.kaiko.io/'
    description: The base URL for the Market Data Endpoints is regionalized. We are currently offering endpoints in the US and in Europe.
security:
  - ApiKeyAuth: []
tags:
  - name: Aggregates

paths:

  "/v2/data/{commodity}.{data_version}/exchanges/{exchange}/{instrument_class}/{instrument}/aggregations/ohlcv":
    get:
      operationId: GetAggregateOhlcv
      tags:
        - Aggregates
      description: |
        This endpoint retrieves the OHLCV history for an instrument on an exchange.
        The interval parameter is suffixed with s, m, h or d to specify seconds, minutes, hours or days, respectively.
        By making use of the sort parameter, data can be returned in ascending asc or descending desc order.
      parameters:
        - $ref: '#/components/parameters/commodity'
        - $ref: '#/components/parameters/data_version'
        - $ref: '#/components/parameters/exchange'
        - $ref: '#/components/parameters/instrument_class'
        - $ref: '#/components/parameters/instrument'
        - $ref: '#/components/parameters/interval'
        - $ref: '#/components/parameters/start_time'
        - $ref: '#/components/parameters/end_time'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/continuation_token'

      responses:
        "200":
          description: Get Aggregate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregateOhlcvResponse'

components:

  parameters:
    commodity:
      in: path
      name: commodity
      description: The data commodity.
      required: true
      schema:
        $ref: "#/components/schemas/Commodity"
    data_version:
      in: path
      name: data_version
      description: The data version
      required: true
      schema:
        $ref: "#/components/schemas/DataVersion"
    exchange:
      in: path
      name: exchange
      description: The code for the desired exchange.
      required: true
      schema:
        type: string
    instrument_class:
      in: path
      name: instrument_class
      description: The class of the instrument.
      required: true
      schema:
        type: string
    instrument:
      in: path
      name: instrument
      description: The code of the instrument.
      required: true
      schema:
        type: string
    aggregation:
      in: path
      name: aggregation
      description: The aggregation dimension.
      required: true
      schema:
        $ref: '#/components/schemas/Aggregation'
    interval:
      in: query
      name: interval
      description: The interval period.
      required: false
      schema:
        $ref: '#/components/schemas/Interval'
    start_time:
      in: query
      name: start_time
      required: false
      schema:
        $ref: '#/components/schemas/DateTime'
    end_time:
      in: query
      name: end_time
      required: false
      schema:
        $ref: '#/components/schemas/DateTime'
    sort:
      in: query
      name: sort
      required: false
      schema:
        $ref: '#/components/schemas/SortOrder'
    page_size:
      in: query
      name: page_size
      required: false
      schema:
        $ref: '#/components/schemas/PageSize'
    continuation_token:
      in: query
      name: continuation_token
      required: false
      schema:
        type: string

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key

  schemas:
    DateTime:
      type: string
      format: date-time
      description: Time in ISO 8601.
    Timestamp:
      type: integer
      format: int64
      description: Unix epoch time.
    Commodity:
      type: string
      description: >
        The chosen commodity.
        For the trades and order_book_snapshots commodities the latest version is currently v1.
      enum:
        - trades
        - instrument_metrics
        - order_book_snapshots
      default: trades
    DataVersion:
      type: string
      description: >
        The data version of the commodity.
        For the trades and order_book_snapshots commodities the latest version is currently v1.
      enum:
        - v1
        - v2
        - latest
      default: 'latest'
    PageSize:
      description: Maximum number of results.
      type: integer
      format: int32
      minimum: 1
      maximum: 10000
      default: 100
    Access:
      type: object
      properties:
        access_range:
          $ref: '#/components/schemas/DateRange'
        data_range:
          $ref: '#/components/schemas/DateRange'
    DateRange:
      type: object
      properties:
        start_timestamp:
          $ref: '#/components/schemas/Timestamp'
        end_timestamp:
          $ref: '#/components/schemas/Timestamp'
    Interval:
      type: string
      description: Any arbitrary value between one second and one day can be used as an interval.
      enum:
        - 1s
        - 1m
        - 5m
        - 1h
        - 4h
        - 1d
    Aggregation:
      type: string
      enum:
        - ohlcv
        - vwap
        - count_ohlcv_vwap
        - full
        - depth
        - slippage
    SortOrder:
      type: string
      description: DateTime order in which the data is returned.
      enum:
        - asc
        - desc

    ApiResponse:
      type: object
      description: |
        All API responses are in JSON format.
        A result field, with a value of success or error is returned with each request.
        In the event of an error, a message field will provide an error message.
        An access object is also echoed back. It contains two ranges of timestamps
          access_range - The time range for which the Client has access to the API
          data_range - The time range of data the Client is authorized to access
      properties:
        access:
          $ref: '#/components/schemas/Access'
          description: Time ranges of accesses.
        result:
          type: string
          enum:
            - success
            - error
        time:
          $ref: '#/components/schemas/DateTime'
          description: The current time at our endpoint.
        timestamp:
          $ref: '#/components/schemas/Timestamp'
          description: The current time at our endpoint.
        query:
          type: object
          description: All handled query parameters echoed back.
          oneOf:
            - $ref: '#/components/schemas/AggregateQuery'
        data:
          type: array

    AggregateOhlcvResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            query:
              $ref: '#/components/schemas/AggregateQuery'
            data:
              type: array
              description: Response result data.
              items:
                $ref: '#/components/schemas/AggregateOhlcvData'
    AggregateOhlcvData:
      type: object
      properties:
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        open:
          type: number
          format: float
          nullable: true
        high:
          type: number
          format: float
          nullable: true
        low:
          type: number
          format: float
          nullable: true
        close:
          type: number
          format: float
          nullable: true
        volume:
          type: number
          format: double
          nullable: true

    AggregateQuery:
      type: object
      properties:
        commodity:
          $ref: "#/components/schemas/Commodity"
        data_version:
          $ref: "#/components/schemas/DataVersion"
        exchange:
          type: string
        instrument_class:
          type: string
        instrument:
          type: string
        interval:
          $ref: '#/components/schemas/Interval'
        page_size:
          $ref: '#/components/schemas/PageSize'
        aggregation:
          $ref: '#/components/schemas/Aggregation'
        request_time:
          $ref: '#/components/schemas/DateTime'