openapi: 3.0.0
info:
  title: Kaiko API
  version: '1.0.0'
servers:
  - url: 'https://reference-data-api.kaiko.io/v1/'
    description: Override base path for all operations with the /Instruments path
paths:
  instruments:
    get:
      description: This endpoint retrieves a list of supported instruments.        
      responses:
        "200":
          description: Get all instruments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentsResponse'
      operationId: getAllInstruments
      tags:
        - Assets
  exchanges:
    get:
      description: This endpoint retrieves a list of supported exchanges.
      responses:
        "200":
          description: Get all exchanges
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangesResponse'
      operationId: getAllExchanges
      tags:
        - Exchanges
components:
  schemas:
    Instrument:
      type: object
      properties: 
        kaiko_legacy_exchange_slug: 
          type: string
        trade_start_time: 
          type: string
          nullable: true
        trade_end_time: 
          type: string
          nullable: true
        code: 
          type: string
          nullable: true
        exchange_code: 
          type: string
          nullable: true
        exchange_pair_code: 
          type: string
          nullable: true
        base_asset: 
          type: string
          nullable: true
        quote_asset: 
          type: string
          nullable: true
        kaiko_legacy_symbol: 
          type: string
          nullable: true
        class: 
          type: string
          nullable: true
        trade_start_timestamp: 
          type: integer
          format: int64
          nullable: true
        trade_end_timestamp: 
          type: integer
          format: int64
          nullable: true
        trade_count: 
          type: integer
          format: int32
          nullable: true
        trade_compressed_size: 
          type: integer
          format: int64  
          nullable: true   
    Exchange:
      type: object
      properties:
        code: 
          type: string
        name: 
          type: string
        kaiko_legacy_slug: 
          type: string
    ExchangesResponse:
      type: object
      properties:
        result:
          type: string
        data: 
          type: array
          items:
            $ref: '#/components/schemas/Exchange'
    InstrumentsResponse:
      type: object
      properties:
        result: 
          type: string
        data: 
          type: array
          items:
            $ref: '#/components/schemas/Instrument'          